.container {
  margin-top: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 460px;
  display: flex;
  flex-direction: column;
}

.logo {
  align-self: center;
  margin-bottom: 43px;
}

.login {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  border-radius: 14px;
  border: 1px solid var(--gray-scale-7);
  background: var(--gray-scale-9);
  box-shadow: 0px 5px 30px -15px rgba(0, 0, 0, 0.2);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  height: 70px;
}

.links {
  margin: 16px 15px 0 15px;
  display: flex;
  justify-content: flex-end;
}

.link {
  color: var(--gray-scale-3);
  font-size: 17px;
  font-weight: 300;
}
