.container {
  padding: 20px 22px;
  display: flex;
  gap: 8px;
  border-radius: 14px;
  border: 1px solid var(--gray-scale-7);
  background: var(--gray-scale-9);
  box-shadow: 0px 5px 30px -15px rgba(0, 0, 0, 0.2);
  transition: 200ms all ease;
}

.container:has(.input:focus) {
  border: 1px solid var(--orange-1);
}

.input {
  flex: 1;
  color: var(--gray-scale-2);
  font-weight: 500;
}

.input::placeholder {
  color: var(--gray-scale-4);
}

.reset {
  cursor: pointer;
  transition: 200ms all ease;
}

.reset:hover {
  transform: rotate(90deg) scale(1.05);
}
