.container {
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.article {
  flex: 1;
}

.groups {
  margin-bottom: 127px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.myInfo {
  padding: 26px 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
