.menu {
  width: 164px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  color: var(--gray-scale-1);
  transition: 300ms all ease;
}

.menu:hover {
  color: var(--white);
  background: var(--orange-main);
}

.select .menu {
  color: var(--white);
  background: var(--orange-main);
}

.name {
  width: 60%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.3px;
}
