.header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
  background-color: var(--gray-scale-9);
  border-bottom: 1px solid var(--gray-scale-8);
  position: sticky;
  top: 0;
  z-index: 1;
}

.menus {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.3rem;
}
