.header {
  padding: 20px 27px 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px 14px 0px 0px;
  background: var(--gray-scale-8);
}

.title {
  color: var(--gray-scale-2);
  font-size: 20px;
  font-weight: 500;
}

.to {
  display: flex;
  align-items: center;
  gap: 4px;
}

.label {
  color: var(--gray-scale-4);
  font-size: 18px;
}

.content {
  border-radius: 0px 0px 14px 14px;
  border: 1px solid var(--gray-scale-7);
  border-top: none;
  background: var(--gray-scale-9);
}
