.container {
  padding: 15.5px 15px;
  display: flex;
  justify-content: flex-start;
  border-radius: 14px;
  border: 1px solid var(--gray-scale-8);
  background: var(--gray-scale-8);
}

.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.name {
  color: var(--gray-scale-3);
}
