/* css variable */
:root {
  /* color */
  --orange-main: #ff743d;
  --orange-1: #ff5500;
  --gray-scale-1: #1e1e1e;
  --gray-scale-3: #50545e;
  --gray-scale-4: #808593;
  --gray-scale-5: #b7becf;
  --gray-scale-6: #cfd5e3;
  --gray-scale-7: #e7eaf2;
  --gray-scale-8: #f5f5f5;
  --gray-scale-9: #ffffff;
}

/* reset */
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
header,
nav,
main,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
ul,
ol,
fieldset,
legend,
label,
form,
input,
button,
select,
option,
textarea,
pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: -0.5px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

/* layout */
body {
  font-family:
    'Pretendard Variable',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
